{
    "presets": 
    [
        ["env", {
            "targets": {
              "node": "current"
            }
          }
        ], "jest"
    ],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }],
        ["babel-plugin-transform-object-rest-spread"]
    ],
    "ignore": [
        "**/*.spec.js"
    ]
}